<h1>Users#spotify</h1>
<h2><%= @top_tracks.size %></h2>
<p><%= @country %></p>
<p><%= @email %></p>
<p><%= @chosen_one.name %></p>
<p>Kikoo</p>
<% @samples.each do |track| %>
  <p><%= track.name %></p>
<% end %>
