<!-- <p><%= @dead_kennedys.popularity %></p>
<p><%= @dead_kennedys.genres %></p>
<p><%= @dead_kennedys.top_tracks(:FR) %></p>
<p><%= @mtsc.release_date %></p>
<p><%= @mtsc.images %></p>
<p><%= @mtsc.available_markets %></p>
<p><%= @c_u_a.duration_ms %></p>
<p><%= @c_u_a.track_number %></p>
<p><%= @c_u_a.preview_url %></p> -->

<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
